:root {
    
    --MOUNTAIN: 89, 94, 33;
    --SAND: 230, 200, 169;
    --PAVEMENT: 155, 151, 156;
    --ROAD: 39, 36, 20;
    --WATER: 103, 135, 147;
    --WHITE: 250, 249, 249;

    --BORDER-RADIUS: 25px;
}

.switch-field {

  /* STYLE */
  background-color: #e4e4e4;
  border-radius: var(--BORDER-RADIUS);
  height: fit-content;

  /* DISPLAY */
  display: flex;
  align-items: center;
}
  
  .switch-field input {
      position: absolute !important;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      width: 1px;
      border: 0;
      overflow: hidden;
  }
  
  .switch-field label {
    display: inline-block;
    width: 100px;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    border-radius: var(--BORDER-RADIUS);

    transition: all 0.1s ease-in-out;
  }
  
  .switch-field label:hover {
      cursor: pointer;
  }
  
  .switch-field input:checked + label {
    background-color: rgba(var(--WATER), 1);
    color: #fff;
    box-shadow: none;
    border-radius: var(--BORDER-RADIUS);
  }

  .icon-wrapper {
    height: 100%;
    width: auto;
  }

  .icon-img {
    height: 100%;
    width: auto;
  }