@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

:root {
    
  --MOUNTAIN: 89, 94, 33;
  --SAND: 230, 200, 169;
  --PAVEMENT: 155, 151, 156;
  --ROAD: 39, 36, 20;
  --WATER: 103, 135, 147;
  --WHITE: 250, 249, 249;

  --IMAGE-BORDER: 2px solid rgba(var(--WHITE), 1);

  --POPPINS: 'Poppins', 'Ariel', sand-serif;

  --BORDER-RADIUS-10: 10px;
  --BORDER-RADIUS-25: 25px;
  --BORDER-RADIUS-30: 30px;
}

.App {

  /* Window Size */
  width: 100vw;
  height: 100vh;
}

header {
  height: 20%;
  background-color: red;
}

main {
  width: 100%;
  overflow-y: scroll;
}

