@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

:root {
    
    --MOUNTAIN: 89, 94, 33;
    --SAND: 230, 200, 169;
    --PAVEMENT: 155, 151, 156;
    --ROAD: 39, 36, 20;
    --WATER: 103, 135, 147;
    --WHITE: 250, 249, 249;

    --BORDER-RADIUS: 25px;
}

main {

    /* STYLE */
    overflow: scroll;
    font-family: 'Poppins', 'Ariel', sans-serif;
}

.contact-main-content {

    /* STYLE */
    width: 100%;
    height: 100%;
    background: url('../images/cabin1.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* POSITION */
    margin-top: 100px;
}

.form-container {

    /* STYLE */
    width: 75%;
    height: fit-content;
    margin: 100px auto;
    border-radius: var(--BORDER-RADIUS);
    box-shadow: 0 0 40px rgba(var(--ROAD), 1);
    background-color: rgba(250, 250, 250, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    /* DISPLAY */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* temp */
    border: 1px solid black;
}

.form-container h1 {

    /* STYLE */
    color: rgba(var(--WHITE), 1);

    /* DISPLAY */
    text-align: center;
    /* margin: 20px 0; */

}

.contact-input-container {

    /* STYLE */
    width: 50%;
    height: 75%;

    /* DISPLAY */
    margin: auto;
}

.contact-input-fields-container {

    /* STYLE */
    margin: 10px 0;
    
    /* DISPLAY */
    display: flex;
    justify-content: center;
}

#contact-message {

    /* STYLE */
    width: 50%;
    border-radius: 10px;
    font-family: 'Ariel', sans-serif;

    /* DISPLAY */
    overflow: scroll;
    padding: 10px;
}

.contact-details-container {
    
}