@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

:root {
    
    --MOUNTAIN: 89, 94, 33;
    --SAND: 230, 200, 169;
    --PAVEMENT: 155, 151, 156;
    --ROAD: 39, 36, 20;
    --WATER: 103, 135, 147;
    --WHITE: 250, 249, 249;

    --IMAGE-BORDER: 1px solid rgba(var(--WHITE), 1);
}

main {

    /* STYLE */
    overflow: scroll;
    font-family: 'Poppins', 'Ariel', sans-serif;
}

.details-main-content {

    /* POSITION */
    width: 80%;
    height: fit-content;
    margin-top: 120px;

    /* CHILDREN */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* TEMP */
    border: 1px solid black;
}

.property-images-display-wrapper {

    /* STYLE */
    height: auto;
    width: auto;

    /* POSITIONG */

    /* DISPLAY */
    display: flex;
}

.property-images-display-wrapper img {
    object-fit: cover;
}

.featured-property-image-wrapper {
    width: 50%;
    height: auto;

    /* TEMP */
    border: var(--IMAGE-BORDER);
}

.addtl-property-images-wrapper {

    /* STYLE */

    /* POSITION */
    width: 50%;
    height: auto;

    /* CHILDREN */
    display: flex;
    flex-wrap: wrap;
}

.addtl-image-wrapper {
    width: 49.5%;
    height: auto;

    border: var(--IMAGE-BORDER);
}

.feature-image {
    height: 100%;
    width: 100%;
}

.addtl-image {
    height: 100%;
    width: 100%;
}

img {
    border-radius: 0;
}

.info-wrapper {

    /* STYLE */
    width: 100%;

    /* POSITION */
    margin: 10px 0;

    /* CHILDREN */
    display: flex;
    justify-content: space-evenly;
}

.details-container {

    /* STYLING */
    /* width: 50%;
    padding: 5px;
    border: 2px solid rgba(var(--ROAD), 1);
    border-radius: 10px; */

    /* POSITIONING */
    
}

.location-container {

    display: flex;
    align-items: center;
}

.location-logo-wrapper {
    height: 50px;
    width: auto;
}

.location-logo {
    height: 100%;
    width: auto;
    background-color: red;
}

.title-location-details {
    margin: 10px;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

.booking-wrapper {

    width: 40%;
    padding: 5px;
    border: 2px solid rgba(var(--ROAD), 1);
    border-radius: 10px;

    /* CHILDREN */
    display: flex;
    flex-direction: column;
}

.pricing-reviews-wrapper {
    width: auto;
    padding: 10px;

    /* CHILDREN */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.pricing-wrapper {
    display: flex;
    align-items: baseline;
}

