@import "../App.css";

.card-container {

    /* STYLE */
    width: 40%;
    padding: 30px 10px;
    border-radius: var(--BORDER-RADIUS-10);
    font-family: 'Poppins', 'Ariel', sans-serif;

    /* DISPLAY */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {

    /* STYLE */
    width: 100%;
}

.image-container img {

    /* STYLE */
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.details-container {

    /* STYLE */
    width: 100%;
}

.text-container {

    /* STYLE */
    margin: 5px;

    /* DISPLAY */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titles-container h1 {

    /* STYLE */
    font-size: x-large;
    color:rgba(var(--ROAD), 1);
}

.titles-container a {
    text-transform: none;
}

.titles-container h1:hover {
    text-decoration: underline;
}

.titles-container h2 {
    
    /* STYLE */
    font-size: small;
    color:rgba(var(--ROAD), 0.8);
}

.pricing-container {

    /* STYLE */
    color:rgba(var(--ROAD), 1);

    /* DISPLAY */
    display: flex;
    align-items: baseline;
}

.pricing-container h1 {

    /* STYLE */
    margin-right: 2px;
}

.pricing-container h2 {

    /* STYLE */
    font-size: x-small;
}

.property-tags-container {

    /* STYLE */
    width: 100%;
    padding: 5px;

    display: flex;
    justify-content: flex-start;
    gap: 5px;
}
