@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

:root {
    
    --MOUNTAIN: 89, 94, 33;
    --SAND: 230, 200, 169;
    --PAVEMENT: 155, 151, 156;
    --ROAD: 39, 36, 20;
    --WATER: 103, 135, 147;
    --WHITE: 250, 249, 249;
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 20;
    background-color: white;
    overflow-y: scroll;

    display: flex;
    justify-content: center;
}

.main-content {

    margin-top: 125px;
    padding: 10px;
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.property-flexbox {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
    padding: 0;
    justify-content: space-evenly;
}

.filter-container {
    width: 80%;
    height: 40px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 2px solid black;
    border-radius: 30px;
}

.property-type-filter {
    width: 50%;
    height: 100%;
    display: flex;
    font-family: 'Poppins';
    align-items: center;
}

.location-icon-wrapper {
    height: 100%;
    width: auto;
}

.filter-logo {
    height: 100%;
}

.view-type-filter {
    display: flex;
    font-family: 'Poppins';
    align-items: center;
}

.filter-title {
    margin: 0 10px 0 0;
}

.location-title {
    width: 95%;
    border-bottom: 1px solid black;
    margin: 10px 0;
}